@import url("reset.css");

/* General Styling */

body {
  font: normal 20px Helvetica, Arial, sans-serif;
}

ul li {
  display: inline-block;
}

a {
  text-decoration: none;
}

/* Header Styling */

header {
  background: url("../images/bg_body.gif") 50% 0 repeat #2f2840;
  text-align: center;
  padding: 75px 0 0 0;
}

header nav {
  padding: 105px 0 62px 0;
}

header nav ul li {
  margin: 0 42px;
}

header nav a {
  color: #cacaca;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 200;
}

header nav a.active {
  font-weight: bold;
  color: #6db9ff;
}




