@import url("reset.css");

/* General Styling */

body {
  font: normal 20px 'Avenir', sans-serif;
  color: #45494d;
  text-align: center;
}

ul li {
  display: inline-block;
}

a {
  text-decoration: none;
}

h2 {
  font-size: 36px;
  font-weight: bold;
}

h2:after,
h2:before {
  display: inline-block;
  content: "\2022";
  vertical-align: 5px;
  font-size: 22px;
  padding: 0 24px;
}

h3 {
  font-size: 24px;
  color: #3e59b2;
}

main {
  text-align: center;
}

article {
  width: 780px;
  margin: 0 auto;
}

/* Header Styling */

header {
  background: url("../images/bg_body.gif") 50% 0 repeat #2f2840;
  text-align: center;
  padding: 75px 0 0 0;
}

header nav {
  padding: 100px 0 60px 0;
}

header nav ul li {
  margin: 0 42.5px;
}

header nav a {
  color: #cacaca;
  text-transform: uppercase;
  font-size: 24px;

}

header nav a.active {
  font-weight: bold;
  color: #6db9ff;
}

/* Footer Styling */

footer {
  background: #e7e7e7;
  padding: 75px 0;
}

footer ul {
  padding-top: 40px;
}

footer ul li {
  margin: 0 62px;
}

footer p {
  margin: 0;
  color: #b2b2b2;
}

footer ul a {
  font-size: 0;
}

footer ul a:before {
  display: inline-block;
  content: "";
  width: 46px;
  height: 46px;
  background: transparent url("../images/icons_social-media.png") 0 0 no-repeat; 
}
 
footer ul a.facebook:before {
  background-position: 0 -46px;
}

footer ul a.email:before {
  background-position: 0 -92px;
}

footer ul a.instagram:before {
  background-position: 0 100%;
}

/* Home Page Styling */

.home {
  padding: 100px 0;
}

.home h2 {
  padding-bottom: 40px;
}

.home h3 {
  padding-bottom: 20px;
}

.home article:nth-of-type(1) {
  margin-bottom: 100px;
}








