@import url("reset.css");

/* General Styling */

body {
  font: normal 20px Helvetica, Arial, sans-serif;
}

ul li {
  display: inline-block;
}

a {
  text-decoration: none;
}

/* Header Styling */

header {
  background: url("../images/bg_body.gif") 0 0 repeat #2f2840;
  text-align: center;
}




