@import url("reset.css");

*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  font: normal 16px Helvetica, Arial, sans-serif;
}

form {
  width: 600px;
  margin: 0 auto;

}

fieldset {
  background: #ececec;
  padding-left: 36px;
  margin-bottom: 2px;
  border-left: 4px solid #cdcccb;
}

h1 {
  font-size: 1.75rem;
  background: #fff;
  font-weight: normal;
  padding: 1.5rem 0;
}
